html,
body {
    padding: 0;
    margin: 0;
}

body {

    background: url(/assets/images/015365b9ebe2529581ddf09370afd578.jpg) no-repeat;
    background-size: cover;
    padding: 15px;

}

.layui-card {

    background-color: #00000093;
}
#pagebox {
    background-color: black;
    color: white;
}